**Median Age of Death in Pittsburgh Introduction**

 In order to determine which neighborhood in Pittsburgh is the healthiest, it is important for us to look at the median age of death. This tells us which place is the best for living a full, healthy life. A higher median age of death means that the neighborhood is more likely to have better healthcare and lifestyles.

**Metric**

Our metric will involve awarding points on a scale of 1 to 5. The worst neighborhood gets 1 points and the best gets 5 points. The median neighborhood will get 3 points. All other neighborhoods will either get 2 or 3 points depending on where they fall.

In [1]:
##Link to dataset on website
##https://data.wprdc.org/dataset/median-age-death

##Imports
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

pd.read_csv("DeathAge.csv")

,NEIGHBORHOOD,BLACKdeaths,Black MD AGE AT DEATH,WHITEdeaths,White MD AGE AT DEATH,TOTALdeaths*,TOTAL MD AGE AT DEATH
0,SOUTH SHORE,0.0,0.0,0.0,0.0,0.0,0.0
1,CHATEAU,0.0,0.0,2.0,NaN,2.0,NaN
2,NORTH SHORE,0.0,0.0,4.0,NaN,5.0,80.0
3,ALLEGHENY WEST,3.0,NaN,4.0,NaN,8.0,65.0
4,SAINT CLAIR,5.0,67.5,5.0,67.5,10.0,67.5
...,...,...,...,...,...,...,...
87,CARRICK,35.0,59.4,622.0,77.0,678.0,75.9
88,BROOKLINE,13.0,61.2,723.0,78.1,750.0,77.8
89,SQUIRREL HILL SOUTH,58.0,83.2,721.0,86.2,802.0,85.9
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,*Total includes Other and Unknown race.,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

df=pd.read_csv("DeathAge.csv")
maximum=df['TOTAL MD AGE AT DEATH'].max()
print("The maximum median age is: " + str(maximum))
minimum=df['TOTAL MD AGE AT DEATH'].min()
print("The minimum median age at death is: " + str(minimum))
med= df['TOTAL MD AGE AT DEATH'].median()
print("The median median age at death is: " + str(med))

The maximum median age is: 85.9
The minimum median age at death is: 53.3
The median median age at death is: 76.55

In [18]:
import pandas as pd
best_place = pd.read_csv("DeathAge.csv")
query_mask = best_place['TOTAL MD AGE AT DEATH'] == 85.9
winner=best_place[query_mask]
print("The best neighborhood (that will receive 5 points) is: ")
winner.head(10)

The best neighborhood (that will receive 5 points) is:

,NEIGHBORHOOD,BLACKdeaths,Black MD AGE AT DEATH,WHITEdeaths,White MD AGE AT DEATH,TOTALdeaths*,TOTAL MD AGE AT DEATH
87,SQUIRREL HILL SOUTH,58.0,83.2,721.0,86.2,802.0,85.9

In [19]:
import pandas as pd
worst_place = pd.read_csv("DeathAge.csv")
query_mask = worst_place['TOTAL MD AGE AT DEATH'] == 53.3
loser=best_place[query_mask]
print("The worst neighborhood (that will receive 1 point) is: ")
loser.head(10)

The worst neighborhood (that will receive 1 point) is:

,NEIGHBORHOOD,BLACKdeaths,Black MD AGE AT DEATH,WHITEdeaths,White MD AGE AT DEATH,TOTALdeaths*,TOTAL MD AGE AT DEATH
7,FAIRYWOOD,11.0,62.5,9.0,42.5,21.0,53.3

In [39]:
import pandas as pd
medium_place = pd.read_csv("DeathAge.csv")
query_mask = medium_place['TOTAL MD AGE AT DEATH'] == 76.6
medium=medium_place[query_mask]
print("The most medium neighborhood (that will receive 3 points) is: ")
medium.head(10)

The most medium neighborhood (that will receive 3 points) is:

,NEIGHBORHOOD,BLACKdeaths,Black MD AGE AT DEATH,WHITEdeaths,White MD AGE AT DEATH,TOTALdeaths*,TOTAL MD AGE AT DEATH
39,BELTZHOOVER,105.0,76.1,13.0,76.0,125.0,76.6

In [43]:
import pandas as pd
mediocre_places = pd.read_csv("DeathAge.csv")
query_mask = (mediocre_places['TOTAL MD AGE AT DEATH']>53.3) & (mediocre_places['TOTAL MD AGE AT DEATH']<76.6)
mediocre=mediocre_places[query_mask]
print("The most mediocre neighborhoods (that will receive 2 points) are: ")
mediocre.head(90)

The most mediocre neighborhoods (that will receive 2 points) are:

,NEIGHBORHOOD,BLACKdeaths,Black MD AGE AT DEATH,WHITEdeaths,White MD AGE AT DEATH,TOTALdeaths*,TOTAL MD AGE AT DEATH
1,ALLEGHENY WEST,3.0,NaN,4.0,NaN,8.0,65.0
2,SAINT CLAIR,5.0,67.5,5.0,67.5,10.0,67.5
4,ESPLEN,3.0,NaN,13.0,72.5,16.0,71.7
5,ARLINGTON HEIGHTS,10.0,55.0,7.0,72.5,17.0,63.7
6,STRIP DISTRICT,7.0,76.7,12.0,70.0,19.0,72.5
9,MOUNT OLIVER NEIGHBORHOOD,9.0,67.5,17.0,80.0,26.0,75.0
12,CALIFORNIA-KIRKBRIDE,16.0,70.0,10.0,70.0,30.0,69.3
14,FRIENDSHIP,15.0,66.2,24.0,73.0,41.0,71.1
15,BLUFF,18.0,71.7,24.0,69.0,42.0,70.0
20,NORTHVIEW HEIGHTS,51.0,69.5,1.0,NaN,54.0,68.0
21,FINEVIEW,19.0,73.3,38.0,70.0,58.0,70.8
24,SPRING GARDEN,4.0,NaN,61.0,73.5,67.0,71.8
28,POLISH HILL,9.0,67.5,76.0,72.8,85.0,72.2
29,POINT BREEZE NORTH,67.0,74.6,18.0,71.0,87.0,73.2
30,BEDFORD DWELLINGS,82.0,71.3,5.0,70.0,88.0,71.4
32,ARLINGTON,14.0,55.0,81.0,76.1,96.0,73.7
33,TERRACE VILLAGE,94.0,71.8,3.0,NaN,99.0,71.2
36,MANCHESTER,97.0,67.2,15.0,70.0,113.0,67.4
37,UPPER LAWRENCEVILLE,8.0,48.3,111.0,75.5,119.0,73.7
38,ELLIOTT,28.0,67.0,91.0,73.7,121.0,72.0
40,ALLENTOWN,41.0,55.6,82.0,72.1,126.0,66.5
42,CENTRAL BUSINESS DISTRICT,33.0,64.5,92.0,77.0,133.0,73.9
44,LOWER LAWRENCEVILLE,20.0,60.0,118.0,75.7,138.0,73.9
45,CENTRAL NORTHSIDE,90.0,72.0,54.0,73.3,147.0,71.7
46,TROY HILL/HERR'S ISLAND,15.0,42.5,134.0,73.8,151.0,70.3
47,EAST ALLEGHENY,51.0,62.7,100.0,70.0,157.0,66.2
50,LARIMER,123.0,77.3,45.0,70.0,174.0,75.3
52,EAST HILLS,171.0,71.7,4.0,NaN,177.0,70.9
53,MIDDLE HILL,174.0,73.1,6.0,61.7,183.0,72.4
54,HOMEWOOD NORTH,175.0,75.3,4.0,NaN,185.0,75.1
55,CRAFTON HEIGHTS,27.0,51.2,159.0,76.0,187.0,73.5
56,KNOXVILLE,61.0,61.8,121.0,75.6,188.0,71.7
59,GARFIELD,159.0,71.5,36.0,79.3,198.0,73.5
60,CRAWFORD ROBERTS,189.0,75.3,10.0,70.0,202.0,74.8
61,HOMEWOOD SOUTH,196.0,76.9,4.0,NaN,204.0,76.5
62,PERRY NORTH,56.0,63.5,144.0,79.5,205.0,74.6
67,SHERADEN,62.0,62.2,180.0,76.8,248.0,72.0
68,MARSHALL-SHADELAND,55.0,60.0,191.0,73.2,252.0,70.0
70,PERRY SOUTH,147.0,71.6,105.0,83.3,259.0,76.4
71,HAZELWOOD,74.0,68.2,184.0,74.2,261.0,72.2
78,EAST LIBERTY,259.0,71.8,91.0,78.4,364.0,73.0
83,MOUNT WASHINGTON,35.0,68.1,433.0,77.0,476.0,76.3
85,CARRICK,35.0,59.4,622.0,77.0,678.0,75.9

In [49]:
import pandas as pd
great_places = pd.read_csv("DeathAge.csv")
query_mask = (great_places['TOTAL MD AGE AT DEATH']>76.6) & (great_places['TOTAL MD AGE AT DEATH']<85.9)
great=great_places[query_mask]
print("The great neighborhoods (that will receive 4 points) are: ")
great.head(100)

The great neighborhoods (that will receive 4 points) are:

,NEIGHBORHOOD,BLACKdeaths,Black MD AGE AT DEATH,WHITEdeaths,White MD AGE AT DEATH,TOTALdeaths*,TOTAL MD AGE AT DEATH
0,NORTH SHORE,0.0,0.0,4.0,NaN,5.0,80.0
3,WEST END,5.0,76.7,9.0,78.0,14.0,77.5
8,HAYS,1.0,NaN,23.0,78.9,24.0,78.3
10,EAST CARNEGIE,9.0,72.5,18.0,81.0,27.0,80.0
11,REGENT SQUARE,1.0,NaN,27.0,75.8,28.0,76.7
13,CHARTIERS CITY,20.0,70.0,15.0,81.2,35.0,76.9
16,ALLEGHENY CENTER,21.0,63.3,23.0,86.2,46.0,81.7
17,BON AIR,3.0,NaN,48.0,78.3,51.0,78.5
18,CENTRAL OAKLAND,2.0,NaN,50.0,84.0,52.0,84.0
19,RIDGEMONT,0.0,0.0,52.0,79.3,52.0,79.3
22,SUMMER HILL,8.0,75.0,56.0,79.0,64.0,78.3
23,HOMEWOOD WEST,63.0,80.9,1.0,NaN,66.0,80.3
25,SWISSHELM PARK,0.0,0.0,67.0,83.1,67.0,83.1
26,NEW HOMESTEAD,4.0,NaN,67.0,83.8,71.0,83.4
27,OAKWOOD,3.0,NaN,78.0,78.7,82.0,78.8
31,WEST OAKLAND,59.0,73.8,32.0,87.0,93.0,79.5
34,SOUTH OAKLAND,37.0,75.7,63.0,77.5,103.0,77.1
35,WINDGAP,24.0,71.2,80.0,80.4,104.0,77.5
41,GLEN HAZEL,60.0,80.7,69.0,78.7,131.0,79.8
43,DUQUESNE HEIGHTS,3.0,NaN,131.0,79.3,134.0,79.2
48,MORNINGSIDE,10.0,70.0,150.0,78.2,161.0,77.8
49,WESTWOOD,12.0,58.3,159.0,77.8,173.0,77.0
51,POINT BREEZE,13.0,66.7,158.0,85.7,175.0,85.1
57,SPRING HILL-CITYVIEW,34.0,69.3,153.0,79.2,189.0,77.8
58,UPPER HILL,102.0,77.4,88.0,88.4,191.0,81.7
63,HIGHLAND PARK,49.0,68.7,159.0,83.2,213.0,79.2
64,LINCOLN PLACE,3.0,NaN,212.0,80.3,217.0,79.8
65,SOUTHSIDE SLOPES,9.0,58.7,208.0,77.9,220.0,77.2
66,SQUIRREL HILL NORTH,6.0,75.0,231.0,85.3,242.0,85.0
69,BANKSVILLE,4.0,NaN,247.0,85.5,253.0,85.5
72,SOUTHSIDE FLATS,11.0,74.0,265.0,78.8,277.0,78.4
73,STANTON HEIGHTS,112.0,75.6,165.0,84.0,278.0,80.5
74,NORTH OAKLAND,45.0,70.9,227.0,86.8,279.0,85.6
75,OVERBROOK,4.0,NaN,284.0,82.5,289.0,82.2
76,GREENFIELD,8.0,65.0,325.0,79.6,337.0,79.2
77,CENTRAL LAWRENCEVILLE,18.0,75.0,338.0,81.7,358.0,81.3
79,LINCOLN-LEMINGTON-BELMAR,287.0,76.7,98.0,84.7,389.0,78.8
80,BLOOMFIELD,25.0,68.0,362.0,78.9,394.0,78.2
81,SHADYSIDE,72.0,81.2,320.0,82.4,406.0,82.1
82,BEECHVIEW,35.0,55.8,398.0,80.2,434.0,78.9
84,BRIGHTON HEIGHTS,56.0,63.7,432.0,80.3,496.0,78.9
86,BROOKLINE,13.0,61.2,723.0,78.1,750.0,77.8

**Neighborhoods and their Points**

5 Points: 

    * Squirrel Hill South
    
4 Points:

    * North Shore
    * West End
    * Hays
    * East Carnegie
    * Regent Square
    * Chartiers City
    * Allegheny Center
    * Bon Air
    * Central Oakland
    * Ridgemont
    * Summer Hill
    * Homewood West
    * Swisshelm Park
    * New Homestead
    * Oakwood
    * West Oakland
    * South Oakland
    * Windgap
    * Glen Hazel
    * Duquesne Heights
    * Morningside
    * Westwood
    * Point Breeze
    * Spring Hill-Cityview
    * Upper Hill
    * Highland Park
    * Lincoln Place
    * Southside Slopes
    * Squirrel Hill North
    * Banksville
    * Southside Flats
    * Stanton Heights
    * North Oakland
    * Overbrook
    * Greenfield
    * Central Lawrenceville
    * Lincoln-Lemington-Belmar
    * Bloomfield
    * Shadyside
    * Beechview
    * Brighton Heights
    * Brookline
  3 Points:
  
    * Beltzhoover
    
  2 Points:
  
    * Allegheny West
    * Saint Clair
    * Esplen
    * Arlington Heights
    * Strip District
    * Mount Oliver Neighborhood
    * California-Kirkbride
    * Friendship
    * Bluff
    * Northview Heights
    * Fineview
    * Spring Garden
    * Polish Hill
    * Point Breeze North
    * Bedford Dwellings
    * Arlington
    * Terrace Village
    * Manchester
    * Upper Lawrenceville
    * Elliott
    * Allentown
    * Central Business District
    * Lower Lawrenceville
    * Central Northside
    * Troy Hill/ Herr's Island
    * East Allegheny
    * Larimer
    * East Hills
    * Middle Hill
    * Homewood North
    * Crafton Heights
    * Knoxville
    * Garfield
    * Crawford Roberts
    * Homewood South
    * Perry North
    * Sheraden
    * Marshall-Shadeland
    * Perry South
    * Hazelwood
    * East Liberty
    * Mount Washington
    * Carrick
 
 1 Point:
     
     * Fairywood